<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs" routerDirection="back">Back</ion-button>
    </ion-buttons>
    <ion-title>Add Tenant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
    <h1>Register Tenant</h1>
  </div>

  <br />

  <div class="form-container">
    <!-- ... -->
    <ion-input
      label="First Name"
      label-placement="floating"
      fill="outline"
      placeholder="Enter text"
      required
      [(ngModel)]="tenant.firstName"
    ></ion-input>

    <ion-input
      label="Last Name"
      label-placement="floating"
      fill="outline"
      placeholder="Enter text"
      required
      [(ngModel)]="tenant.lastName"
    ></ion-input>

    <ion-input
      label="Room #"
      label-placement="floating"
      fill="outline"
      placeholder="Enter text"
      required
      [(ngModel)]="tenant.roomNumber"
    ></ion-input>

  <div class="image-container">
      <ion-img
        class="image-placeholder"
        src="assets/useravatar.jpg"
        alt="Placeholder Image"
      ></ion-img>
    </div>

    <br/>

    <div class="bottomtext">
      <ion-button
        shape="round"
        color="success"
      >
        Add Image<ion-icon slot="end" name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>

    <br/><br/>
    <div class="bottomtext">
      <ion-button
        shape="round"
        color="success"
        (click)="addTenant()"
        [disabled]="!(tenant.firstName && tenant.lastName && tenant.roomNumber)"
      >
        Submit<ion-icon slot="end" name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
