<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <div class="avatar-container ion-text-center">
        <ion-avatar>
          <img src="assets/useravatar.jpg" alt="Avatar">
        </ion-avatar>
      </div>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title class="ion-text-center">Justine Ballelos</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Address</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Philippines</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Email</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>corrodingsuntzu@gmail.com</ion-label>
      </ion-card-content>
    </ion-card>

  <ion-row class="ion-justify-content-end">
    <ion-button shape="round" color="success" 
   
    href="../../login">
      Logout
    </ion-button>
  </ion-row>
</div>
</ion-content>

<!-- (click)="SignOut()"> -->