<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/tabs"> Back </ion-button>
    </ion-buttons>
    <ion-title>Remove a Tenant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <div class="list">

      <ion-card>
        <ion-card-header>
          <img  style=
          "height:25%;
          width: 25%;
          display: block;
          margin-left: auto;
          margin-right: auto;"
          alt="best friend" 
          src="assets/useravatar.jpg"
          />
          <ion-card-subtitle>Room #1</ion-card-subtitle>
          <ion-card-title>Juan Dela Cruz</ion-card-title>
        </ion-card-header>
          <ion-button shape="round" color="danger">Delete<ion-icon slot="end" name="trash-outline"></ion-icon></ion-button>
      </ion-card>

      <br/>

      <ion-card>
        <ion-card-header>
          <img  style=
          "height:25%;
          width: 25%;
          display: block;
          margin-left: auto;
          margin-right: auto;"
          alt="best friend" 
          src="assets/useravatar.jpg"
          />
          <ion-card-subtitle>Room #2</ion-card-subtitle>
          <ion-card-title>Macey Jane Uryu</ion-card-title>
        </ion-card-header>
          <ion-button shape="round" color="danger">Delete<ion-icon slot="end" name="trash-outline"></ion-icon></ion-button>
      </ion-card>

      <br/>

      <ion-card>
        <ion-card-header>
          <img  style=
          "height:25%;
          width: 25%;
          display: block;
          margin-left: auto;
          margin-right: auto;"
          alt="best friend" 
          src="assets/useravatar.jpg"
          />
          <ion-card-subtitle>Room #2</ion-card-subtitle>
          <ion-card-title>Pheonix Wright</ion-card-title>
        </ion-card-header>
          <ion-button shape="round" color="danger">Delete<ion-icon slot="end" name="trash-outline"></ion-icon></ion-button>
      </ion-card>

      <br/>

    </div>

  </ion-list>
</ion-content>
