<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs" routerDirection="back">Back</ion-button>
    </ion-buttons>
    <ion-title>Tenant List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let tenant of tenants">
      <img class="avatar" src="assets/useravatar.jpg" alt="User Avatar">
      <ion-card-header>
        <ion-card-subtitle>Room #{{ tenant.roomNumber }}</ion-card-subtitle>
        <ion-card-title>{{ tenant.firstName }} {{ tenant.lastName }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- You can add more tenant details here if needed -->
      </ion-card-content>
      <ion-button shape="round" color="danger" (click)="removeTenant(tenant)">
        Delete<ion-icon slot="end" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>